# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Local env files
*.local
.env
.env.*
!.env.example

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
